@tailwind base;
@tailwind components;
@tailwind utilities;

.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background: linear-gradient(
    270deg,
    #f7dd77,
    #facc15,
    #f59e0b,
    #f7dd77,
    #f59e0b,
    #facc15,
    #f7dd77
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.bg-gradient-to-r {
  background: linear-gradient(to right, #8b0000, #b22222, #ff4500);
}

:root {
  scrollbar-color: #37946e #fff;
  scrollbar-width: auto;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Copos de nieve personalizados */
.snowflake {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  animation: snowfall linear infinite;
}

@keyframes snowfall {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100vh);
  }
}
